@font-face {
	font-family: 'icomoon';
	src:url('https://popozou.github.io/popozou.io/icomoon.eot?-qz7pb2');
	src:url('https://popozou.github.io/popozou.io/icomoon.eot?#iefix-qz7pb2') format('embedded-opentype'),
		url('https://popozou.github.io/popozou.io/icomoon.woff?-qz7pb2') format('woff'),
		url('https://popozou.github.io/popozou.io/icomoon.ttf?-qz7pb2') format('truetype'),
		url('https://popozou.github.io/popozou.io/icomoon.svg?-qz7pb2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-evernote:before {
	content: "\e004";
}
.icon-feedly:before {
	content: "\e007";
}
.icon-pocket:before {
	content: "\e008";
}
.icon-line:before {
	content: "\e009";
}
.icon-hatena:before {
	content: "\e00a";
}
.icon-feedly-square:before {
	content: "\e601";
}
.icon-googleplus:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e60d";
}
.icon-instagram:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-feed:before {
	content: "\e614";
}
.icon-youtube:before {
	content: "\e617";
}
.icon-flickr2:before {
	content: "\e61e";
}
.icon-githubmark:before {
	content: "\e626";
}
.icon-github:before {
	content: "\e627";
}
.icon-wordpress:before {
	content: "\e629";
}
.icon-tumblr:before {
	content: "\e62d";
}
.icon-yahoo:before {
	content: "\e62f";
}
.icon-apple:before {
	content: "\e631";
}
.icon-android:before {
	content: "\e633";
}
.icon-windows:before {
	content: "\e634";
}
.icon-windows8:before {
	content: "\e635";
}
.icon-skype:before {
	content: "\e636";
}
.icon-delicious:before {
	content: "\e638";
}
.icon-pinterest:before {
	content: "\e63a";
}


/*--------------------------------------
  もくじ
--------------------------------------*/
ul.table-of-contents {
  font-size: 12px !important; /*文字サイズ*/
  border: 1px solid #eee !important;
  padding: 1em 1.5em 1em 2.25em !important;
  color: #999 !important;
  display: inline-block;
}
ul.table-of-contents:before {
  content: "- 目次 -"; /* お好きな文言に変更してください */
  display: inline-block;
  margin: 0.2em 0em 1em;
  padding: 0em;
  font-weight: bold;
}
ul.table-of-contents a:after {
  display: none !important;
}
ul.table-of-contents li a,
ul.table-of-contents li a:visited {
  color: #999 !important; /* リンク文字の色 */
  text-decoration: ; /* リンクの下線あり・なし */
}
ul.table-of-contents li a:hover {
  color: lightgrey !important; /* リンクにマウスを重ねた時の色 */
}
ul.table-of-contents li {
  margin: 5px 0 10px 6px !important;
  line-height: 1.5;
  padding: 0;
  list-style-type: none !important;
}
ul.table-of-contents li:before {
  font-family: blogicon;
  content: "\f023";
  position: absolute;
  left: 1.2em;
  color: lightgrey;
}
ul.table-of-contents ul li,
ul.table-of-contents li ul {
  /* H1のみ表示させる */
  display: none !important;
}